.listItem {
    padding: 1rem;
    box-shadow: 0 0 60px -30px rgba(0,0,0,1);
    margin: 0.5rem;
    flex-basis: 0;
}

.poster figure {
    margin: 0;
    max-width: 500px;
    min-height: 500px;
    background: no-repeat left center;
    background-size: contain;
}
.listItem div {
    padding-bottom: 0.5rem;
}

.listItem span {
    font-size: 0.8rem;
}
.listItem span:after {
    content: " /";
}
.listItem span:last-child:after {
    content: "";
}
.popularity {
    float: left;
}
.movieRating {
    text-align: right;
}
.listItemTitle {
    letter-spacing: 0.1rem;
    font-weight: bold;
}
