.listItem {
    padding: 1rem;
    box-shadow: 0 0 70px -30px rgba(0,0,0,0.75);
    margin: 0.5rem;
    flex-basis: 0;
}

.poster figure {
    margin: 0;
    max-width: 500px;
    min-height: 500px;
    background: no-repeat left center;
    background-size: contain;
}
.listItem div {
    padding-bottom: 0.5rem;
}
