.list {
    display: grid;
    flex-basis: 80%;
    justify-content: space-around;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}
.list:after {
    content: "";
    justify-content: flex-start;
}
.listItem {
    flex:1;
    padding: 1.2rem;
    flex-basis: 0;


}

.noResults {

}
