.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}
.list:after {
    content: "";
    justify-content: flex-start;
}
.listItem {
    flex:1;
    padding: 1.2rem;
    flex-basis: 0;


}

.listItem img {
}
