body, h1, h2, h3, h4, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div, header {
  box-sizing: border-box;
}

.hide {
  transform: translateY(-200px);

}
